/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f5f6fa;
    color: #2f3542;
}

main {
    padding-bottom: 2rem;
}